.button {
    font-family: pangolinregular, sans-serif;
    width: 120px;
    height: 40px;
    background-color: #1f2321;
    border: 0;
    color: #e2f3eb;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

.button:hover {
    background-color: #2aaf76;
    cursor: pointer;
}

.btnCls {
    font-family: pangolinregular, sans-serif;
    width: 80px;
    height: 40px;
    background-color: #1e6144;
    border: 0;
    color: #e2f3eb;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.btnCls:hover {
    background-color: #2aaf76;
    cursor: pointer;
}

.textBox {  
    margin: 1rem;
    display: flex;
}

.gridContainer {
    display: grid;
    grid-template-columns: 0.6fr 0.75fr;
    justify-content: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.gridContainerRows {
    display: grid;
    grid-template-rows: 0.75fr 0.5fr 0.5fr;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.imgStyle {
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.5);
}

.mintContainer {
    display: grid;
    grid-template-rows: 0.5fr 0.1fr;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.mintLead {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #e2f3eb;
    margin-left: 1rem;
    margin-right: 1rem;
}

.mintButtons {
    list-style: none;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.mintButtons li {
    padding: 0.5rem;
}

.mintTitle {
    font-family: pangolinregular, sans-serif;
    color: #2aaf76;
    font-size: 1.75rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.mintText {
    font-size: 1rem;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

/* Modal for tx sent */
.txSent {
    position: absolute;
    top: 45%;
    left: 25%;
    width: 50vw;
    height: auto;
    background-color: #1f2321;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.8);
    border: 1px solid #202f29;
    border-radius: 10px;
}

.txClosed {
    display: none;
}

.txText {
    font-size: 1.75rem;
    color:#e2f3eb;
    justify-content: center;
    transform: translateY(-20%);
}

.txHash {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem;
    color:#e2f3eb;
    justify-content: center;
}

.checkedIcon {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100px;
    height: 100px;
    background-color: #2aaf76;
    color:#e2f3eb;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 750px) {
    .gridContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 900px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .imgStyle {
        margin-top: 2rem;
    }
    .txSent {
        position: absolute;
        top: 60%;
        left: 10vw;
        width: 80vw;
    }
}