.button {
    font-family: pangolinregular, sans-serif;
    width: 120px;
    height: 40px;
    background-color: #1f2321;
    border: 0;
    color: #e2f3eb;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

.button:hover {
    background-color: #2aaf76;
    cursor: pointer;
}


.logOut {
    margin-top: 20vh;
    font-size: 2rem;
    color: #e2f3eb;
}

.logOut:hover {
    cursor: pointer;
    color: #2aaf76;
}

.textBox {  
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}