.section{
    height: auto;
  }
  
  .dark{
    background-color: #131414;
    border-bottom: 1px solid #181e1b; 
  }
  
  .light{
    background-color: #161817;
    border-bottom: 1px solid #181e1b;
  }
  
  .image{
    display: flex;
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .flexContent
  {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
  }

  .textContent{
    margin: 2rem 2rem 0 2rem;
  }
  
  .textcontent2{
    margin: 1rem 2rem 1rem 2rem;
  }

  .textcontent2 li {
    color: #e2f3eb;
    font-size: 1.25rem;
    font-weight: lighter;
  }
  
  .textcontent2 p {
    color: #e2f3eb;
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .textcontent2 strong {
    color: #2aaf76;
    font-size: 2rem;
    font-weight: normal;
  }

  .socials {
    display: flex;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    color: #e2f3eb;
    font-size: 4rem;
  }
  .socials li{
    margin-left: 1rem;
    margin-right: 1rem;
    list-style: none;
  }
  .socials li:hover
  {
    cursor: pointer;
    color: #2aaf76;
    transition: all 0.3s ease-in-out;
  }

  .link {
    color: #e2f3eb;
  }
  
  .link a:hover,
  .link a:link,
  .link a:focus,
  .link a:active {
    color: #2aaf76;
    text-decoration: underline;
  }
      
  .dappLink {
    color: #e2f3eb;
    font-size: 1.35rem;
  }
  
  .dappLink:hover {
    color: #e2f3eb;
    cursor: pointer;
  }
  
  .dappButton {
    width: 40vw;
    left: 30vw;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #1e6144;
    border-radius: 10px;
  }
  
  .dappButton:hover {
    background-color: #2aaf76;
  }
  
  .dappButtonTMarket {
    width: 40vw;
    left: 30vw;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #048be6;
    border-radius: 10px;
  }
  
  .dappButtonTMarket:hover {
    background-color: #2de5ac;
  }
  
  .dappButtonDRare {
    width: 40vw;
    left: 30vw;
    height: 50px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #89b85d;
    border-radius: 10px;
  }
  
  .dappButtonDRare:hover {
    background-color: #a7ca6a;
  }
  
  .dappContainer {
    text-align: center;
    padding-top: 1rem;
  }