html,
body {
  padding: 0;
  margin: 0;
  background-color: #121212;
  font-family: pangolinregular, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'pangolinregular';
  src: url('/pangolin-regular-webfont.woff2') format('woff2'),
       url('/pangolin-regular-webfont.woff') format('woff'),
       url('/pangolin-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}