.modal-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: min(80vw,900px);
  background-color: #1f2321;
  border-radius: 10px;
  transform: translateY(-7vh);
  box-shadow: 0px 0px 40px 2px rgba(0, 0, 0, 0.8);
  border: 1px solid #202f29;
}

.text-danger {
  color: #2aaf76;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
}

.text-center {
  text-align: center !important; 
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.card-title {
  margin-bottom: 0.75rem; 
  margin-left: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; 
}

.modal-container .modal-dialog .modal-card .modal-card-body {
  border-radius: 0.25rem; 
}

.modal-container .modal-dialog .modal-content .card {
  border: none;
  background: none;
  box-shadow: unset; 
  color: #e2f3eb;
  font-size: 1.5rem;
}

.w-100 {
  width: 100% !important; 
}

.d-flex {
  display: flex !important; 
}

.pt-spacer,
.py-spacer {
  padding-top: 1rem !important; 
}

.pr-spacer,
.px-spacer {
  padding-right: 1rem !important; 
}

.pr-3,
.px-3 {
  padding-right: 1rem !important; 
  font-size: 1rem;
  margin-left: 15px;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; 
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; 
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important; 
}

.p-spacer {
  padding-left: 1rem !important; 
  padding-right: 1rem !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.m-auto {
  margin: auto !important; 
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #e2f3eb;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}
    
.btn:hover {
  color: #2aaf76;
  cursor: pointer;
}

.btn-primary {
  color: #e2f3eb;
  background-color: #2aaf76;
  border-color: #39ca8b; 
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary:hover {
  color: #e2f3eb;
  background-color: #2aaf76;
  border-color: #39ca8b; 
}

.login-button_qrCodeSvgContainer {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.d-flex {
    display: flex !important; 
}

.login-button_title {
  font-size: 2rem;
  color: #2aaf76;
}

.login-button_leadText {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.lead {
  font-size: 1.25rem;
  font-weight: 300; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-white {
  color: #fff !important; 
}

.icon-state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%; 
}

.icon-state.half {
  width: 3rem;
  height: 3rem; 
}

.bg-danger {
  background-color: #dc3545 !important; 
}

.bg-warning {
  background-color: #ffc107 !important; 
}

.bg-success {
  background-color: #28a745 !important; 
}

.mt-auto,
.my-auto {
  margin-top: auto !important; 
}

.mr-auto,
.mx-auto {
  margin-right: auto !important; 
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important; 
}

.ml-auto,
.mx-auto {
  margin-left: auto !important; 
}

.extension-modal_icon {
  width: 50px;
}

.extension-modal_wrapper {
  width: 50vw;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.extension-modal_title {
  color: #2aaf76;
  font-size: 1.5rem;
}

.extension-modal_description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  color: #e2f3eb;
  margin-bottom: 2rem;
}

.extension-modal_closeBtn {
  width: 80px;
  height: 35px;
  background-color: #1e6144;
}

.extension-modal_closeBtn:hover {
  width: 80px;
  height: 35px;
  background-color: #2aaf76;
  color:#e2f3eb;
}

.extension {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50vw;
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.8);
  border: 1px solid #202f29;
}

.wallet-connect-modal_icon {
  width: 50px;
}

.wallet-connect-modal_wrapper {
  width: 50vw;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.wallet-connect-modal_title {
  color: #2aaf76;
  font-size: 1.5rem;
}

.wallet-connect-modal_description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  color: #e2f3eb;
  margin-bottom: 2rem;
}

.wallet-connect-modal_closeBtn {
  width: 80px;
  height: 35px;
  background-color: #1e6144;
}

.wallet-connect-modal_closeBtn:hover {
  width: 80px;
  height: 35px;
  background-color: #2aaf76;
  color:#e2f3eb;
}

.wallet-connect {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50vw;
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.8);
  border: 1px solid #202f29;
}

.login-modal-content_icon {
  width: 50px;
}

.login-modal-content_wrapper {
  width: 50vw;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.login-modal-content_title {
  color: #2aaf76;
  font-size: 1.5rem;
}

.login-modal-content_description {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  color: #e2f3eb;
  margin-bottom: 2rem;
}

.login-modal-content_closeBtn {
  width: 80px;
  height: 35px;
  background-color: #1e6144;
}

.login-modal-content_closeBtn:hover {
  width: 80px;
  height: 35px;
  background-color: #2aaf76;
  color:#e2f3eb;
}

.login-modal-content {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50vw;
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.8);
  border: 1px solid #202f29;
}

@media screen and (max-width: 750px) {
  /* .modal {
    position: absolute;
    top: 80%;
    left: 10vw;
  } */
  .extension-modal_wrapper {
    width: 80vw;
    height: auto;
    left: 10vw;
    top: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .wallet-connect-modal_wrapper {
    width: 80vw;
    height: auto;
    left: 10vw;
    top: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .login-modal-content_wrapper {
    width: 80vw;
    height: auto;
    left: 10vw;
    top: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .modal-container {
    transform: translateY(-60%);
  }
}