
.gridNav {
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  align-items: center;
}

/* Navigation ribbon */
.nav { 
  /* width: auto; */
  height: 80px;
  background: #1f2321 ;
  border-bottom: 1px solid #202f29;
  align-items: center;
  display: flex;
}

.logoTitleContainer {
  display: flex;
  justify-content: flex-start;
}

.logoContainer {
  margin: 0 15px;
  justify-content: flex-start;
}  

/* Maiar Pets logo */
.logo {
  height: 50px;
  width: 50px;
  border: 2px solid rgb(42, 175, 118, 10%);
  border-radius: 100%;
  transform: rotateZ(360);
  transition: transform 0.3s;
}
.logo:hover {
  cursor: pointer;
  border: 2px solid rgb(42, 175, 118, 100%);
  transform: rotate(1turn);
  transition: all 0.3s;
}

/* Page title (Maiar Pets text) */
.pageTitle {
  color: #e2f3eb;
  font-size: 2rem;
}
.pageTitle:hover {
  cursor: pointer;
}

/* Social media links, individual */
.socials {
  display: flex;
  justify-content: flex-end;
  color: #e2f3eb;
  font-size: 2rem;
  padding: 0;
  margin-right: 15px;
  margin-top: 0;
  margin-bottom:0;
}

.socials li {
  list-style: none;
  color: #e2f3eb;
  font-size: 2rem;
  margin-left: 10px;
}
.socials li:hover
{
  cursor: pointer;
  color: #2aaf76;
  transition: all 0.3s ease-in-out;
}

/* DISPLAY FULL SIZE */
/* Menu list with page links */
.menu {
  display: grid;
  grid-template-columns: repeat(5,auto);
  text-align: center;
  padding: 0;
}

.itemMint {
  list-style: none;
  font-size: 1.75rem;
  font-family: pangolinregular, sans-serif;
  color: #2aaf76;
  margin: 0.5rem
}
.itemMint:hover
{
  color: #2aaf76;
  /* box-shadow: 0px 2px 0px #2aaf76;
  transition: all 0.3s ease-in-out; */
}

/* Navigation pages (individual) */
.item {
  list-style: none;
  font-size: 1.75rem;
  font-family: pangolinregular, sans-serif;
  color: #e2f3eb;
  margin: 0.5rem;
}
.item:hover
{
  color: #2aaf76;
  /* box-shadow: 0px 2px 0px #2aaf76; */
  /* transition: all 0.3s ease-in-out; */
}

.fa-bars {
  color: #fff;
}

.menuIcon {
  display: none;
  color: #e2f3eb;
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .gridNav {
    display: grid;
    grid-template-columns: 33vw 47vw 20vw;
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .gridNav {
    display: grid;
    grid-template-columns: 65vw 35vw;
    align-items: center;
  }
  .socials li {
    display: grid;
    grid-template-columns: repeat(3,auto);
    align-items: center;
    transform: translateY(5px);
  }

  .menu {
    background: #1f2321;
    position: fixed;
    opacity: 0;
    right: -100%;
    top: 0;
    margin-top: 80px;
  }

  .menuActive {
    /* width: 100vw; */
    background: #1f2321;
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: 1;
    top: 0;
    margin-top: 80px;
    border-bottom: 2px solid white;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .item {
    width: 100vw;
    text-align: center;
    margin-right: 0rem;
    z-index: 1;
  }
  .item:hover {
    color: #2aaf76;
    box-shadow: 0px 2px 0px #2aaf76;
    transition: all 0.3s ease-in-out;
  }

  .itemMint {
    width: 100vw;
    text-align: center;
    margin-right: 0rem;
    z-index: 1;
  }
  .itemMint:hover
  {
    color: #2aaf76;
    box-shadow: 0px 2px 0px #2aaf76;
    transition: all 0.3s ease-in-out;
  }

  .menuIcon {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
  }
  .menuIcon:hover {
    color: #2aaf76;
    transition: all 0.3s ease-in-out;
  }
}