.title a,
.title span {
  color: #2aaf76;
  text-decoration: none;
}

.title {
  color: #e2f3eb;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  color: #e2f3eb;
  text-align: center;
}

.description {
  color: #e2f3eb;
  line-height: 1.5;
  font-size: 2rem;
}

.link {
  color: #e2f3eb;
  text-align: center;
}

.link a:hover,
.link a:link,
.link a:focus,
.link a:active {
  color: #2aaf76;
  text-decoration: underline;
}